.fa{
  padding:3px 5px;
 
}

.ml-auto{
  margin-left: auto;
}

.mainfirst{
  margin-top:90px;
}

.imgf{
  margin:auto;
}

.btn-counsel{
  margin:20px;
  padding:10px;
}

.mcarditems{
  margin-top: 20px;
  margin-bottom: 20px;
}

.fcarditems{
  margin-top:5vh;
  margin-bottom:5vh;
}

.frontcard{
  padding-top:17vh;
  padding-bottom: 17vh;
}

.navtitle{
  padding: 10px 10px;
}

.reviewcard{
  padding-top:17vh;
  padding-bottom: 17vh;
}

.innerreview{
  padding-top: 20px;
  padding-bottom: 30px;
}

.counsmain{
  min-height: 100vh;
  margin-top: 57px;
  padding-top:20px;
}


.counsitems{
  margin-top:90px;
  margin-bottom: 90px;
}

.counscard{
  margin-bottom: 50px;
}

.list-group-item{
  margin-bottom: 20px;
  margin-top: 20px;
}

@media only screen and (min-width: 1176px){
    .head{
      padding-top:50px;
    }


    .subhead{
      margin-top:30px;
    }

    .btn-counsel{
      margin:50px;
    }

    .secondmain{
      padding-top: 50px;
      padding-bottom:15vh;
    }

    .maincard{
      padding-top: 20vh;
      padding-bottom: 20vh;
    }

    .mcarditems{
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .counsimg{
      padding-top:70px;
    }
    
}


@media only screen and (min-width: 768px) and (max-width: 1176px){
  .head{
    padding-top:30px;
  }
  .subhead{
    margin-top:20px;
  }

  .secondmain{
    padding-top: 50px;
    padding-bottom:15vh;
  }

  .maincard{
    padding-top: 20vh;
    padding-bottom: 20vh;
  }

  .mcarditems{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .counsimg{
    padding-top:70px;
  }
}

.cmain{
  color:white;
  opacity: 1;
  padding-top: 10vh;
}

@media only screen and (min-width: 768px) and (max-width: 992px){
  .mainimg{
    width:100%;
  }
}


@media only screen and (max-width: 768px){
  .subhead{
    margin-top:30px;
    margin-bottom:20px;
  }

  .mainimg{
    margin-top: 20px;
  }

  .secondmain{
    padding-top: 50px;
    padding-bottom:15vh;
  }

  .maincard{
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  
  .sbodyitem{
    margin-top:20px;
    margin-bottom:20px;
  }

  .nc2{
    margin-top: 15px;
  }

  .notifscard{
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .frontcard{
    padding-top:10vh;
    padding-bottom: 10vh;
  }

  .counsmain{
    min-height: 80vh;
    margin-top: 57px;
    padding-top:20px;
  }

}

h5{
  margin:5px;
}

.footer{
  background-color: rgb(135, 195, 223);
  padding-top: 50px;
  padding-bottom: 50px;
}

.notifscard{
  padding-top: 17vh;
  padding-bottom: 17vh;
}

.ncarditem{
  max-height: 40vh;
}

.nc1{
  margin-top: 25px;
  margin-bottom: 25px;
}

.notifbg{
  background-color: rgb(228, 224, 224);
}
.modal-open[style] {
  padding-right: 0px !important;
  }




::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgb(185, 182, 182); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(97, 97, 97);
   
}

.univcard{
  height:110vh;
  padding-top: 15vh;
  padding-bottom: 15vh;
}